ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



li a:hover {
    background-color: #111;
}

/*************
PRODUCTS PAGE
*************/

.productCards {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1em auto;
}

.productFlex1, .productFlex2 {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.productCards img {
    width: 250px;
    height: auto;
}

.productCards div {
    border: 1px solid black;
    margin: 1em auto;
}

