body {
    margin: 0;
}

/*-----------NAV BAR-------------*/

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



li a:hover {
    background-color: #111;
}


h1,h2,h3,h6{
    text-align: center;
}

#para1 {
    text-align: center;
}




/*---------CONTACT PAGE-----------*/

#contactimage {
    background: url("../images/contactpage.jpg") no-repeat center center fixed;
    background-size: cover;
    height: 478px;
    display: flex;
    flex-direction: column;
}

#contact::after{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
    margin-top: auto;
    height: 4px;
    width: 100%;
    content: '';
}

#contact p, #contact h2{
    text-align: center;
    left:10%;
    color:white;
    text-shadow: 1px 1.3px rgba(0,0,0,.2);
}

#contact h2{
    font-size:5.2em;
    padding: 0;

}

#contact p{
    font-size:1.4em;
    padding: 0px 5.1em;
}

#contact{
    width:100%;
}
#contact img {
    height: 205px;
    margin-top: auto;
}

/*************
PRODUCTS PAGE
*************/

/**flex layout**/

.productCards {
    width: 87%;
    margin: 1em auto;
}

.productFlex {
    display: flex;
    flex-flow: row, nowrap;
    justify-content: space-between;
    align-items: stretch;
    margin: 5em auto;
}

.productFlex div {
    flex-grow: 1;
    flex-basis: 22%;
    align-self: stretch;
    margin: 0 1em;
    border: 1px solid black;
    border-radius: 0 2em 0 2em;
    transition: box-shadow .5s;
    transition: border-width .4s;
}

.productFlex div:first-child {
    margin-left: 0;
}

.productFlex div:last-child {
    margin-right: 0;
}

.productCards img {
    max-width: 100%;
    height: auto;
}


/**product styling**/

#productTagline {
    font-size: 3.5em;
    margin-left: 3em;
    letter-spacing: .01em;
}

#subTagline {
    margin: 1em auto;
    text-align: center;
    letter-spacing: .03em;
}

.productFlex div:hover {
    box-shadow: 4px 0 4px gold;
    border-width: 2px;
}

.productHeader {
    font-style: italic;
    margin-left: .3em;
    letter-spacing: .15em;
}

.money {
    font-size: 1.2em;
    padding-left: .7em;
}

.description {
    margin: 4em auto;
    padding: .5em;
    text-align: center;
}